language: ruby
cache: bundler
install:
- bundle install
- npm install
script:
- "./build.sh"
deploy:
  provider: pages
  skip-cleanup: true
  local-dir: _site
  fqdn: newhaven.io
  github-token: $DEPLOY_TOKEN  # Set in travis-ci.org dashboard, marked secure
  keep-history: true
  target-branch: master
  on:
    branch: master
env:
  matrix:
    secure: Ns/yAW2m/Xa5JwYTE7O7ySTjBZnsmF6iRK+jgb/PIJsVYuJDI3S+j0jzoe173sG+C0TLbyvccBRsTS7h/X26ZhdAVBMtqU527b6xee39c52GT+eTC9JXiyLU8bKernj84y4IOf9q8R2kWVRfQqP6Q1m/iWjRiszbXJ+iqVJ8CgSQhOjeLN9mpqVRHb1jvldd5RqFiTHv9tgPle6wJNKiYUISfQRdcMRVWfqUtMj5Ow0FTe3ncz9E2z7khr8xJ7DVG0ACIGdyOLX52ac7Wbw7Ekyw+iXlWPCbrnUHWLOK0nt3s2C28MFP5HQ1/KkcQEVqJDqzRiP7HADiyJFPT7LsOH+CCkc3qABRuZsOQYgpihjILub4dOY1qr2yMJ69o3QZMeDMYP3/Bld15lXBRxYgig4VqCG3ba4pMOZCeiCntVVyPY/KGFaw7oPng4qTqRWRZOV+plPzpuip4GrpaGrpExyOFocVPo3RMWWRLx1z74BVdP+pcRyHVYC1/RY6efeiD+f7TprTfmYyn4gFx9bdUC9PCYuTiSe8H8qSbfRA96hfZJAPsUWoGW7soEFrodZu/TaoTiWRNncwv6GxdSQWL2jnCyJUem3B0bl7UAbTwr1aI/Cn87y7lltIoX2U92/ZzGV3GHAqtxNGbwH+xkA7Os52aGMbwPwDh6auzZQOVcE=
