<footer class="site-footer">

  <div class="container-fluid">
    <div class="row">
      
      <div class="footer-links col-sm-6 col-md-8">
          {% for menu in site.data.menu %}
            <a href="{{ menu.link | prepend: site.baseurl }}">
              {{ menu.name }}
            </a>{% if forloop.last == false %} / {% endif %}
        {% endfor %}
      </div>

      <div class="col-sm-6 col-md-4">
        <a href="{{ menu.link | prepend: site.baseurl }}">
          <h4 class="footer-heading">
            {{ site.title }}
          </h4>
        </a>
      </div>

    </div>

  </div>

  <script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/meetup.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/mustache.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/modernizr.min.js" | prepend: site.baseurl }}"></script>
  <script>
    // Makes all blog links open in a new tab
    $('article.post a').each(function() {
      $(this).attr('target', '_blank');
    });
  </script>

</footer>
