<!-- Have the description not appear on homepage -->
<!-- Social links -->

<footer class="mt-auto bg-teal-darker text-grey-lighter shadow-lg">
  <div class="nh-o-maxWidth flex flex-col">
    {% unless page.url == "/" %}
      <p class="pb-6 text-teal-lighter leading-normal">
        {{ site.description }}
      </p>

      <ul class="flex mb-6 list-reset">
        {% for menu in site.data.menu %}
          {% if page.url == menu.link %}
            {% assign link = '#main' %}
            {% assign active_classes = 'font-semibold' %}
          {% else %}
            {% assign link = menu.link | prepend: site.baseurl %}
            {% assign active_classes = 'text-sm' %}
          {% endif %}
          <li>
            <a {% if menu.external %}target="_blank" rel="noopener"{% endif %} class="inline-block mr-4 text-teal-lighter {{ active_classes }}" href="{{ link }}">
              {{ menu.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endunless %}

    <ul class="flex mb-6 list-reset">
      {% for social in site.data.social-links %}
        <li>
          <a target="_blank" rel="noopener" href="{{ social.link }}" class="inline-block mr-4 text-teal-lighter text-sm">
              {{ social.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</footer>
