// The larger banner at the top of the homepage
#masthead {
	width: 100%;
	box-sizing: border-box;
	@include padding(5% null);
	@include margin(-20px null 1em null);

	background: url('http://d2v6kkiwguh6i5.cloudfront.net/images/bg.jpg');
	background-size: cover;
	color: #fff;
}

.masthead-copy { width: 90%; }

.masthead-description { line-height: 1.4em; }

.masthead-buttons {
	padding-top: 1em;

	button { 
		@include margin(.3em); 
		@include padding(5px);

		i { 
			padding: em(2px); 
			float: left;
		}
	}
}

.masthead-slack { padding-top: 2em;

	iframe {
		display: block;
		margin: 0 auto;
	}
}

// Masthead layout with flexbox
html.flexbox.flexwrap {
	// Put the masthead contents in the center, text and buttons
	#masthead {
		@include display(flex);
		@include justify-content(center);
		@include align-items(center);
	}

	.masthead-buttons {
		@include display(flex);
		@include flex-wrap(wrap);
		@include justify-content(space-around);

		button { @include flex(0 1 9em); }	
	}
}

// Masthead layout without flexbox
html.no-flexbox, html.flexbox.no-flexwrap {
	.masthead-copy { @include padding(2.5% 5%); }

	.masthead-buttons { @include padding(1em null); }
}