---
layout: page
title: Blog
subheading: We all have thoughts in our spare time. I write mine here for safe-keeping.
---

<section class="blog-list">
  {% for post in paginator.posts %}
    <article class="blog-list-item {{post.source}}">
      <h4 class="blog-title"> 
        {% if post.source == "external" %}
          <a class="post-link" href="{{ post.ext-url }}" target="_blank">{{ post.title }} <i class="fa fa-external-link"></i></a>
        {% else %}
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% endif %}
      </h4>

      <h5> By {% if post.author %}{{ post.author }}{% else %}Anonymous{% endif %} </h5>

      <span class="blog-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    
      <div class="blog-excerpt"> 
        {{ post.excerpt }}
      </div> 
    </article>
  {% endfor %}
</section>

<div class="pagination">
  {% if paginator.previous_page %}
    <p class="pagination-prev">
      <a href="{{ paginator.previous_page_path }}">
        <button>
          Newer Posts
        </button>
      </a>
    </p>
  {% endif %}
  {% if paginator.next_page %}
    <p class="pagination-next">
      <a href="{{ paginator.next_page_path }}">
        <button>
          Older Posts
        </button>
      </a>
    </p>
  {% endif %}
</div>