.dev-photo {
	@include clearfix;
	@include padding(1em 1em 2em 1em);
	margin: 0 auto;

	img {
		margin: 0 auto;
		display: block;
	}

	@include susy-breakpoint($screen-xs) {
		float: left;
		margin: 0;
	}
}