// blog-list
// blog-list-item

.pagination {
	display: block;
	@include clearfix();

	p a {
		padding: 0.6em 1em;
		cursor: pointer;
		@include transition(.5s);

		color: white;

		background-color: $main-orange;
		border-radius: 0.5em;

		&:hover,
		&:active {
			background-color: darken($main-orange, 15%);
			@include transition(.5s);

			text-decoration: none;
		}
	}
}

.pagination-next { float: left; }
.pagination-prev { float: right; }

html.flexbox.flexwrap {
	.blog-list {
		@include display(flex);
		@include flex-wrap(wrap);
		@include align-items(center);
	}

	.blog-list-item {
		@include flex(1 1 17em);
		@include padding(1.5em);
		box-sizing: border-box;

		&.internal { @include flex(1 1 27em); }
	}

	.blog-excerpt {
		@include clearfix();
	}
}



html.no-flexbox, html.flexbox.no-flexwrap {
	.blog-list-item { 
		width: 100%; 
		@include padding(2em 1.5em);
	}
}