meetup-paginator {
	width: 100%;
	@include clearfix;
}

meetup-developers .alert {
	width: 100%;
}

html.flexbox.flexwrap {

	meetup-developers {
		@include display(flex);
		@include flex-wrap(wrap);
	}

	meetup-developer-card {
		@include flex(1 1 26em);
		@include margin(null .5em);
	}
}

html.no-flexbox, html.flexbox.no-flexwrap {

	meetup-developers {
		width: 100%;
	}

	meetup-developer-card {
		@include span(12);

		@include susy-breakpoint($screen-md) {
			@include span(6);

			height: 35em;
			overflow: scroll;
		}
	}
}
