$max-width: em(1200px);

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

.container-fluid {
	max-width: $max-width !important;
	@include padding(null 2%);

	@include susy-breakpoint($screen-md) {
		@include padding(null 7.5%);
	}

	&.page-content {
		@include padding(null 0);

		@include susy-breakpoint($screen-sm) {
			@include padding(null 2.5%);
		}

		@include susy-breakpoint($screen-md) {
			@include padding(null 5%);
		}
	}
}