<template id="meetup-event-card-template" type="x-tmpl-mustache">
  <article class="panel panel-default">
    <div class="panel-heading">
      <a href="{{event_url}}" target="_blank">
        <h3>{{name}}</h3>
      </a>
    </div>
    <div class="panel-body">
      <div class="col-sm-8">
        <p>{{{description}}}</p>
      </div>
      <div class="col-sm-4"><b>WHEN:</b> {{formattedDate}}
        <br><b>WHERE:</b> <a href="{{venueLink}}" target="_blank">{{venue.name}}</a>
        <br><b>WHO:</b> {{yes_rsvp_count}} already going
      </div>
    </div>
  </article>
</template>

<script>
  (function (component) {
    var template = component
      .getElementById('meetup-event-card-template')
      .innerHTML;
    var MeetupEventCardDecorator = {
      venueLink: {
        get: function venueLink() {
          return Meetup.venueMapUrl(this.venue || {});
        }
      },
      formattedDate: {
        get: function formattedDate() {
          return (this.time) ? Meetup.formatDate(new Date(this.time)) : '';
        }
      }
    };
    var MeetupEventCardElement = Object.create(
      Meetup.createMeetupElement(template),
      {decorator: {value: MeetupEventCardDecorator}}
    );
    document.registerElement(
      'meetup-event-card',
      {prototype: MeetupEventCardElement}
    );
  }(document._currentScript.ownerDocument));
</script>
