<template id="meetup-developer-card-template">
  <div class="developer-card panel panel-default">
    <div class="panel-heading">
      <header>
        <h2>
          <a href="{{link}}" target="_blank">{{name}}</a>
        </h2>
      </header>
    </div>
    <div class="panel-body">
      <div class="dev-photo">
        {{#photo.photo_link}}
        <figure>
          <img src="{{photo.photo_link}}" width="200" alt="{{name}} picture">
        </figure>
        {{/photo.photo_link}}
        {{^photo.photo_link}}
        <figure>
          <img class="missing-photo" width="200" height="200" src="/img/picture_not_found.png">
          <figcaption>Picture unavailable</figcaption>
        </figure>
        {{/photo.photo_link}}
      </div>
      {{#formattedLocation}}
      <div class="location">
        <header><h3>location:</h3></header>
        {{formattedLocation}}
      </div>
      {{/formattedLocation}}
      {{#bio}}
      <div class="bio">
        <header><h3>bio:</h3></header>
        {{{bio}}}
      </div>
      {{/bio}}
      {{#interestList}}
      <div class="interests">
        <header><h3>interests:</h3></header>
        {{interestList}}
      </div>
      {{/interestList}}
    </div>
  </div>
</template>

<script>
  (function (component) {
    var template = component
      .getElementById('meetup-developer-card-template')
      .innerHTML;
    var MeetupDeveloperCardDecorator = {
      formattedLocation: {
        get: function () {
          return [this.city, this.state].join(', ');
        }
      },
      interestList: {
        get: function () {
          var topics = this.topics || [];
          return topics.map(function (topic) {
            return topic.name;
          }).join(', ');
        }
      }
    };
    var MeetupDeveloperCardElement = Object.create(
      Meetup.createMeetupElement(template),
      {decorator: {value: MeetupDeveloperCardDecorator}}
    );
    document.registerElement(
      'meetup-developer-card',
      {prototype: MeetupDeveloperCardElement}
    );
  }(document._currentScript.ownerDocument));
</script>
