<template id="meetup-paginator-template" type="x-tmpl-mustache">
  <nav>
    <ul class="pagination">
      {{#links}}
      {{#url}}
      <li>
        <a href="{{url}}">
          <span aria-hidden="true">{{{label}}}</span>
        </a>
      </li>
      {{/url}}
      {{^url}}
      <li class="disabled">
        <span aria-hidden="true">{{{label}}}</span>
      </li>
      {{/url}}
      {{/links}}
    </ul>
  </nav>
</template>

<script>
  (function (component) {
    var ceil = Math.ceil;
    var template = component
      .getElementById('meetup-paginator-template')
      .innerHTML;
    var MeetupPaginatorDecorator = {
      urlForPage: {
        value: function (page) {
          var hasLink = (
            (page >= 1) &&
            (page <= this.pages) &&
            (page !== this.page)
          );
          return hasLink ? '?page=' + page : null;
        }
      },
      pages: {
        get: function () {
          return (this.count > 0) ?
            ceil(this.totalCount / this.count) - 1 :
            NaN;
        }
      },
      links: {
        get: function () {
          var index;
          var links = [];
          var pages = this.pages;
          if (!(pages)) { return; }
          links.push({label: '&laquo', url: this.urlForPage(this.page - 1)});
          for (index = 1; index <= pages; index++) {
            links.push({label: '' + index, url: this.urlForPage(index)});
          }
          links.push({label: '&raquo', url: this.urlForPage(this.page + 1)});
          return links;
        }
      }
    };
    var MeetupPaginatorElement = Object.create(
      Meetup.createMeetupElement(template),
      {decorator: {value: MeetupPaginatorDecorator}}
    );
    document.registerElement(
      'meetup-paginator',
      {prototype: MeetupPaginatorElement}
    );
  }(document._currentScript.ownerDocument));
</script>
