<template id="meetup-event-card-template" type="x-tmpl-mustache">
  <article class="h-full flex flex-col -mx-4 md:-mx-0 mb-6 rounded bg-grey-lightest shadow-lg">
    <div class="p-4 bg-teal-dark">
      <h2 class="no-marg">
        <a class="text-white" href="{{event_url}}" target="_blank">
          {{name}}
        </a>
      </h2>
    </div>

    <div class="px-4 pt-4 md:mb-auto">
      {{{description}}}
    </div>

    <dl class="p-4 md:mt-auto bg-grey-lighter border-black border-t">
      <div class="flex">
        <dt class="font-bold">WHEN:</dt>
        <dd class="ml-2">{{formattedDate}}</dd>
      </div>

      <div class="flex">
        <dt class="font-bold">WHERE:</dt>
        <dd class="ml-2">
          {{#venue.name}}
            <a href="{{venueLink}}" target="_blank">{{venue.name}}</a>
          {{/venue.name}}

          {{^venue.name}}
            To Be Decided
          {{/venue.name}}
        </dd>
      </div>

      <div class="flex">
        <dt class="font-bold">WHO:</dt>
        <dd class="ml-2">{{yes_rsvp_count}} already going</dd>
      </div>
    </dl>
  </article>
</template>

<script>
  (function (component) {
    var template = component
      .getElementById('meetup-event-card-template')
      .innerHTML;
    var MeetupEventCardDecorator = {
      venueLink: {
        get: function venueLink() {
          return Meetup.venueMapUrl(this.venue || {});
        }
      },
      formattedDate: {
        get: function formattedDate() {
          return (this.time) ? Meetup.formatDate(new Date(this.time)) : '';
        }
      }
    };
    var MeetupEventCardElement = Object.create(
      Meetup.createMeetupElement(template),
      {decorator: {value: MeetupEventCardDecorator}}
    );
    document.registerElement(
      'meetup-event-card',
      {prototype: MeetupEventCardElement}
    );
  }(document._currentScript.ownerDocument));
</script>
