<template id="meetup-events-error-template" type="x-tmpl-mustache">
  <div class="alert alert-danger">
    {{message}}
  </div>
</template>

<template id="meetup-events-loading-template" type="x-tmpl-mustache">
  <div class="alert alert-info">
    Loading events&hellip;
  </div>
</template>

<script>
  (function (component) {
    var API_ATTRS = {
      'api-key': 'key',
      group: 'group_urlname',
      'max-events': 'page'
    };

    var errorTemplate = component
      .getElementById('meetup-events-error-template')
      .innerHTML;
    Mustache.parse(errorTemplate);

    var loadingTemplate = component
      .getElementById('meetup-events-loading-template')
      .innerHTML;
    Mustache.parse(loadingTemplate);

    var MeetupEventsElement = Object.create(HTMLElement.prototype, {
      createdCallback: {
        value: function createdCallback() {
          this.refresh();
        }
      },

      attributeChangedCallback: {
        value: function attributeChangedCallback(attrName) {
          if (Object.keys(API_ATTRS).indexOf(attrName) >= 0) {
            this.refresh();
          }
        }
      },

      render: {
        value: function render(data) {
          var events = data.results || [];
          this.innerHTML = '';
          events.forEach(function (eventData) {
            var eventCard = document.createElement('meetup-event-card');
            eventCard.data = eventData;
            this.appendChild(eventCard);
          }, this);
        }
      },

      showLoading: {
        value: function showLoading() {
          this.innerHTML = Mustache.render(loadingTemplate);
        }
      },

      showError: {
        value: function showError(error) {
          this.innerHTML = Mustache.render(errorTemplate, {
            message: String(error)
          });
        }
      },

      getApiParams: {
        value: function() {
          var missingAttrs = false;
          var params = {};
          Object.keys(API_ATTRS).forEach(function (attrName) {
            var attr = this.getAttribute(attrName);
            params[API_ATTRS[attrName]] = attr;
            missingAttrs = missingAttrs || (attr == null);
          }, this);
          return missingAttrs ? null : params;
        }
      },

      refresh: {
        value: function refresh() {
          var _this = this;
          var params = this.getApiParams();
          if (!(params)) { return; }

          function done(data) {
            _this.render(data);
            Meetup.triggerEvent.call(_this, 'refresh', data);
          }

          function fail(error) {
            _this.showError(error);
            Meetup.triggerEvent.call(_this, 'error', error);
          }

          this.showLoading();
          Meetup.fetchData(Meetup.eventsUrl(params), done, fail);
        }
      }
    });

    document.registerElement(
      'meetup-events',
      {prototype: MeetupEventsElement}
    );
  }(document._currentScript.ownerDocument));
</script>
