<template id="slack-button-template">
  <style type="text/css">
    slack-button {
      text-align: center;
      width: 100%;
    }

    .__slackin {
      display: none;
      margin: 0 auto;
    }
  </style>

  <a class="__slackin-loading" href="https://newhavenio-slackin.herokuapp.com/"><img src="/img/slack-loading.gif" width="86" height="30" alt="Slack-in button loading"></a>
  <iframe src="https://newhavenio-slackin.herokuapp.com/iframe?large" class="__slackin" style="border-width: 0px; width: 140; height: 30px; visibility: visible;"></iframe>
</template>

<script type="application/javascript">
  (function (component) {
    var template = component.getElementById('slack-button-template');
    var SlackButtonProto = Object.create(HTMLElement.prototype);
    SlackButtonProto.createdCallback = function () {
      var _this = this;
      var node = document.importNode(template.content, true);
      var loadingButton = node.querySelector('.__slackin-loading');
      var iframe = node.querySelector('.__slackin');
      iframe.onload = function () {
        _this.removeChild(loadingButton);
        iframe.style.display = 'block';
      };
      this.appendChild(node);
    };
    document.registerElement('slack-button', {prototype: SlackButtonProto});
  }(document._currentScript.ownerDocument));
</script>
