// Adds extra padding to the right menu so it doesn't overlap with the "Fork Me" ribbon on medium screens
.navbar {
	@include susy-breakpoint($screen-sm) {
		margin-bottom: 20px;
	}
}

.navbar-right {
	@include susy-breakpoint($screen-sm) { padding-right: 7em; }

	@include susy-breakpoint($screen-md) { padding-right: 4em; }

	@include susy-breakpoint($screen-lg) { padding-right: 0; }
}

// Puts the "Fork Me" ribbon below the navbar on mobile screens
.header-ribbon {
	img {
		display: none;

		@include susy-breakpoint($screen-sm) {
			@include position(absolute, 0 0 null null);
			display: block;
			z-index: 9999;
		}
	}
}