// Classes for different image sizings
@include susy-breakpoint($screen-md) {
	
	.post-half-image {
		max-width: 50%;
	}

	.post-three-quarter-image {
		max-width: 75%;
	}
}

.post-img {
	display: block;
	@include margin(1.5em auto);

	text-align: center;

	img {
		max-width: 100%;
		height: auto;
	}

	@include susy-breakpoint($screen-md) {
		max-width: 75%;

		&.left, &.right {
			max-width: 40%;
			margin: 1.5em;
		}

		&.left {
			float: left;
		}

		&.right {
			float: right;
		}
	}
}

.image-caption-img {
	margin: 0 auto !important;
}

figcaption {
	display: inline-block;
	@include padding(.75em 1em);
	box-sizing: border-box;
	max-width: 100%;
	width: 100%;

	font-size: 80%;
	font-style: italic;
}

// In a related vein, this gives some extra spacing around embedded CodePens
.cp_embed_iframe { margin: 1.25em 0; }