.video {
  margin: 2em 0;
}

.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;

  @include susy-breakpoint($screen-md) {
    max-width: 75%;
    margin: 0 auto;
  }

  embed,
  object,
  iframe {
    @include position(absolute, 0px null null 0px);
    // @include size(100%);
  }
}



.iframe-container {
  width: 100%;

  iframe {
    width: 100%;
  }

  @include susy-breakpoint($screen-md) {
    width: 75%;
    margin: 0 auto;
  }
}